/*! On rassemble ici les styles pour la plateforme HUBO */

body {
  padding-top: 50px;
  /*font-family:'Open Sans',Arial,sans-serif;*/
  font-family:"Hoefler Text",Palatino,Georgia,serif;
  font-size: 1.7em;
  font-weight:300;
  /*line-height: 1.6em;*/
  /*font-weight:300;*/
}

h1{font-size:50px;line-height:60px;font-weight:500;margin:25px 0;text-align: center;padding-top: 50px;}
h2{font-size:40px;font-weight:600;margin:25px 0 15px 0;text-align: center;}
h3{font-size:20px;margin: 20px 0 10px 0;font-weight:600;}
h4{font-size:20px;margin:10px 0;}
h5{font-size:28px;font-weight:600;margin:15px 0;color:#384047;}
h6{font-size:16px;font-weight:600;margin:10px 0;color:#384047;}

.nav_min p {
  font-size: 9px;
  color: red;
}


.page-header {
  margin: 0px 0px 0px 0px;
  position:relative;
  min-height: 750px;
  background-color:#084B8A;
  background: url('/assets/img/bebepleuregd1.jpg') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
  opacity: 0.9;
  filter: alpha(opacity=90); /* For IE8 and earlier */
  color: #fff;
}

.navbar-brand {
  font-size: 1.3em;
}

.page-header h1 {
    /*font-size: 4em;*/
    padding-top: 150px;
    margin-bottom: 0;
    font-size:80px;
    text-shadow: 0 0 10px #000;
    color: #fff;
}

.dispo {
    text-shadow: 0 0 10px #000;
    font-size:28px;
    font-weight:600;
    margin:15px 0;
    color: #fff;
}

.intro {
    padding: 25px 0;
    text-shadow: 0 0 10px #000;
    font-size:40px;
    font-weight:600;
    margin: 15px 0;
    color: #fff;

}

.navbar-brand p {
  color: #084B8A;
}

#result {
  font-weight:100;
}

section {
  padding-top: 25px;
  padding-bottom: 40px;
}

#fonctionnalites {
  text-align: center;
}

.fonction {
  margin: 20px 0;
}
  
#priceplana {
  background-color: #E7E7E7;
}


#rappel_inscription {
  /*position:relative;
  min-height: 200px;*/
  background-color: #006B8F;
  /*blue : #6495ED ; #A9A9A9 grey #D3D3D3 lightgrey #F5F5F5 whitesmoke #336699 darklighter*/
  /*text-shadow: 0 0 10px #000;*/
  color: #fff;
}


/*#rappel_inscription p {
  font-size: 2em;*/
  /*padding: 5px 0;
}*/

  
/*! Style pour les formulaires de log : enregistrement et login; */

.logform {
  font-size:24px;
}

.logmessages {
  margin-top: 160px;
}
/*!  */

footer {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #E7E7E7;
}

#logform {
  padding-top: 60px
}

legend {
  padding-top: 20px;
}

textarea{ 
  width: 400px; 
  min-width:400px; 
  max-width:400px; 

  height:300px; 
  min-height:300px;  
  max-height:300px;
}

#profilutilisateur h1{
  font-size:20px;line-height:20px;font-weight:800;margin:15px 0;text-align: left;padding-top: 20px;}

#profilutilisateur h2{
  font-size:18px;font-weight:700;margin:12px 0 10px 0;text-align: left;}

.grey {
  color: #777777;}


/*TESTS*/

/*Account dans barre de nav*/


.img_exples {
  wdidth:100%;
}


.file-excel-o {
color: #75c377;  
}



@media (max-width: 480px) {
   /*Media Queries for smaller devices*/

.page-header {
  background-attachment: scroll;
  min-height: 600px;
}

.page-header h1 {
    /*font-size: 4em;*/
    font-size:60px;
    padding-top: 70px;
    margin-bottom: 0;
    color: #fff;
}

.dispo {
    font-size:20px;
}

.intro {
    font-size:30px;
    padding: 5px 0;
    color: #fff;
}



}

/*TESTS$/
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  margin-top: 20px;
}

/* Flip around the padding for proper display in narrow viewports */
/*
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-content
{
    width:320px;
    padding: 15px;
    padding-bottom:0px;
}
.navbar-content:before, .navbar-content:after
{
    display: table;
    content: "";
    line-height: 0;
}
.navbar-nav.navbar-right:last-child {
margin-right: 15px !important;
}
.navbar-footer 
{
    background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }
.dropdown-menu {
padding: 0px;
overflow: hidden;
}
*/
