@(elements: views.html.helper.FieldElements)

@import views.html.helper._

<div class="form-group@if(elements.hasErrors) { has-error has-feedback}">
    <label class="control-label" for="@elements.id">@elements.label</label>
        @elements.input
        @if(elements.hasErrors) {
          <span class="help-block">@elements.errors.mkString(", ")</span>
        } else {
          <span class="help-block">@elements.infos.mkString(", ")</span>
        }
</div>

@* Adapté du helper standard pour Bootstrap 2 *@

 

