<footer>
    <div class="container">
     
        <p class="text-center"><strong>Pour tout renseignement sur HUBO congés et absences, envoyez-nous un mail à <br>
        <a href="mailto:huboconges@@gmail.com">huboconges@@gmail.com</a>
        </strong></p> 
    </div>
</footer>

