@scripts = {
<script>

$(document).ready(OnReady);
function OnReady(){

console.log(" OK3 ");

$("form").submit(OnSubmit); // Abonne un callback à l'évènement "submit" du formulaire

}

function OnSubmit(){
  var id;
    id = $(this).attr('id'); // récupération de l'id du bouton cliqué ( ça sera 1 ou 2)

  var markers  = {"adresseMail":$('#'+id).find('.address').val(),

"password":""


};

$('#result'+id).addClass( "response" ); // On ajoute la class "response" à la div result 1 ou 2 pour afficher les messages de retour au bon endroit.

console.log(" DEM ");

/*if (!isEmail($("#address").val())) {
$(".response").html("Entrez une  adresse mail " + $("#address").val());
return false;
}*/

$.ajax({
type: "POST",
url: "/enregistrement",
// The key needs to match your method's input parameter (case-sensitive).
data: JSON.stringify({ Markers: markers }),
contentType: "application/json; charset=utf-8",
dataType: "json",
success:  OnSuccess,
//function(data){alert(data);},
failure: function(errMsg) {
alert(" ERREUR " + errMsg);

}
});
return false; // Annule l'envoi classique du formulaire
}

function OnSuccess(result){
console.log("---> " +(JSON.stringify(result)));
if (JSON.stringify(result["create"])=="true"){
$(".response").html(" <div class=\"alert alert-success\"><button type=\"button\" class=\"close\">×</button>Merci de votre intérêt ! Nous avons bien pris note de votre adresse.</div> ");

//ajout DV
window.setTimeout(function () {
$(".alert-success").fadeTo(500, 0).slideUp(500, function () {
$(this).remove();
});
}, 12000);

//Adding a click event to the 'x' button to close immediately
$('.alert .close').on("click", function (e) {
$(this).parent().fadeTo(500, 0).slideUp(500);
});

$(".response").removeClass( "response" );
}


else  if (JSON.stringify(result["create"])=="false"){
$(".response").html(" <div class=\"alert alert-info\"><button type=\"button\" class=\"close\">×</button>A bien y regarder, nous  avons déjà pris note de votre adresse. Nous vous contacterons prochainement.</div> ");


//ajout DV
window.setTimeout(function () {
$(".alert-info").fadeTo(500, 0).slideUp(500, function () {
$(this).remove();
});
}, 12000);

//Adding a click event to the 'x' button to close immediately
$('.alert .close').on("click", function (e) {
$(this).parent().fadeTo(500, 0).slideUp(500);
});

$(".response").removeClass( "response" );

}
else {
$(".response").html(" <div class=\"alert alert-danger\"><button type=\"button\" class=\"close\">×</button>Oups, nous n'avons pas réussi à enregistrer votre adresse. Le plus simple : nous envoyer un mail <a href=\"mailto:huboconges@@gmail.com\" class=\"alert-link\">huboconges@@gmail.com</a></div> ");

//ajout DV
window.setTimeout(function () {
$(".alert-danger").fadeTo(500, 0).slideUp(500, function () {
$(this).remove();
});
}, 24000);

//Adding a click event to the 'x' button to close immediately
$('.alert .close').on("click", function (e) {
$(this).parent().fadeTo(500, 0).slideUp(500);
});

$(".response").removeClass( "response" );
}

//$("#result").html(JSON.stringify(result));

}

function isEmail(myVar){
// La 1ère étape consiste à définir l'expression régulière d'une adresse email
var pattern = new RegExp(/^[+a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i);
return pattern.test(myVar);
}

</script>
}

@main("HUBO congés et absences", scripts){

@nav("index")


<!-- PAGE HEADER -->
<!-- Image Background Page Header -->

<header class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="intro">La gestion des congés :<br>
                    trop de temps, trop de papiers ?<br>
                    Passez à...
                </p>
            </div>
        </div>
        <div class="row">

            <h1 class="text-center">HUBO congés et absences</h1>
            <p class="text-center dispo">Disponible prochainement</p>

        </div>

        <div class="row">
            <div class="col-sm-10 col-xs-12 col-sm-offset-1 subscribe">

                <form class="form-horizontal" role="form" id="1" method="post" action="/enregistrement">

                    <div class="form-group">

                        <div class="col-sm-6">
                            <input class="form-control input-lg address" name="email" type="email" placeholder="Entrez votre adresse email" data-validate="validate(required, email)" required="required">
                        </div>

                        <div class="col-sm-6">
                            <button type="submit"  class="btn btn-success btn-lg text-uppercase">M'informer du lancement</button>
                        </div>
                    </div>

                </form>
            </div>

            <div class="row">
                <div class="col-sm-10 col-xs-12 col-sm-offset-1">
                    <div id="result1"></div>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- FONCTIONNALITES -->

<main>

    <section id="fonctionnalites">
        <div class="container">

            <div class="row">

                <h2>Fonctionnalités</h2>

            </div>

            <div class="row">
                <div class="col-md-6 fonction">
                    <i class="fa fa-at fa-4x"></i>
                    <h3>Simple comme un mail</h3>
                    <p>Le salarié envoie sa demande de congés par mail. HUBO l'analyse et la soumet au responsable, accompagnée des informations nécessaires (solde des congés, besoins en personnel couvert). Le responsable accepte ou refuse, toujours par mail.</p>
                </div>

                <div class="col-md-6 fonction">
                    <i class="fa fa-table fa-4x"></i>
                    <h3>Des outils familiers : import/export de tableaux Excel</h3>
                    <p>Vous pouvez continuer d'utiliser vos documents Excel. HUBO les prépare pour vous avec les données à jour. Vous travaillez  dessus et vous les renvoyez à HUBO, qui enregistre les changements, et les diffuse aux personnes concernées. </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 fonction">
                    <i class="fa fa-recycle fa-4x"></i>
                    <h3>Fini les saisies multiples</h3>
                    <p>Toutes les informations sont centralisées et disponibles instantanément. Les salariés, les responsables et le comptable peuvent accéder directement aux documents qui les concernent.</p>
                </div>


                <div class="col-md-3 fonction">
                    <i class="fa fa-briefcase fa-4x"></i>
                    <h3>Disponible partout</h3>
                    <p>Au bureau, à la maison, en déplacement. Sur smartphone, tablette, sur ordinateur. Sur Windows, sur Mac, sur Linux. Et aussi sur vos agendas habituels : Google Agenda, iCal, Outlook. </p>
                </div>
                <div class="col-md-3 fonction">
                    <i class="fa fa-calculator fa-4x"></i>
                    <h3>Un calculateur performant</h3>
                    <p>Les droits à congés sont calculés automatiquement. Un salarié est absent, HUBO recalcule automatiquement ses droits à congés. Les modalités de calcul sont paramétrables.</p>
                </div>

                <div class="col-md-3 fonction">
                    <i class="fa fa-puzzle-piece fa-4x"></i>
                    <h3>Intégration aisée dans votre organisation</h3>
                    <p>HUBO repose sur des outils qui vous sont déjà familiers (mails et tableaux Excel), et les rend plus performant. Il vous permet d'<strong>optimiser votre gestion RH sans révolution</strong>.</p>
                </div>
            </div>

        </div>
    </section>

    <!-- RAPPEL INSCRIPTION -->
    <section id="rappel_inscription">
        <div class="container">
            <div class="row">
                <h2 class="text-center">Intéressé(e) ?</h2>
            </div>

            <div class="row">
                <div class="col-sm-10 col-xs-12 col-sm-offset-1 subscribe">

                    <form class="form-horizontal" role="form" id="2" method="post" action="/enregistrement">

                        <div class="form-group">

                            <div class="col-sm-6">
                                <input class="form-control input-lg address" name="email" type="email" placeholder="Entrez votre adresse email" data-validate="validate(required, email)" required="required">
                            </div>

                            <div class="col-sm-6">
                                <button type="submit"  class="btn btn-success btn-lg text-uppercase">M'informer du lancement</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-xs-12 col-sm-offset-1">
                    <div id="result2"></div>
                </div>
            </div>
            <div class="container">
    </section>

</main>
<!-- FOOTER -->

@footer()

}



