@(ftitle: String)(fcontent: Html)

<div id="logform">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title logform">@ftitle</h2>
            </div>
            
            @fcontent
            
        </div>
    </div>   
</div>

