@(logmessage: String)

@main("Mon HUBO"){

@nav("monHUBO")

<div class="container">
   <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <p class="logmessages text-center">@logmessage</p>
  </div>
</div>
}

