@(logmessage: String)

@main("PCO charity Par HUBO"){
    <div class="alert alert-dismissable alert-info">

    <p class="text-center">
    <img width="20%" src="http://www.pokerclubdelouest.fr/pco_v5/images/logopco.jpg" alt="" class="img-rounded">
</p>


        <h4><strong> <p class="logmessages text-center">Merci </br>@logmessage</p>
            </strong></h4>
    </div>

}

