@(loginform: Form[Application.Login])
@import helper._
@implicitField = @{ FieldConstructor(helpers.log_form_helper.f) }

@scripts = {
   @scripts_parsley("loginform")
}

@main("HUBO : Accès", scripts) {

    @nav("monHUBO")

<!-- Formulaire sign in -->

    @log_form_structure("Votre compte"){

                <div class="panel-body">
                    @helper.form(action=routes.Application.authenticate, 'id -> "loginform") {

                        <fieldset>

                            @inputText(loginform("email"), 
                                '_label -> "E-mail",
                                'placeholder -> "Saisissez votre e-mail",
                                'type -> "email",
                                'required -> "required",
                                'class -> "form-control input-lg",
                                'autofocus ->"autofocus")


                            @inputPassword(loginform("password"), 
                                    '_label -> "Mot de passe",
                                    'placeholder -> "Saisissez votre mot de passe",
                                    'required -> "required",
                                    'class -> "form-control input-lg")

                        </fieldset>

                        <input class="btn btn-lg btn-success btn-block" type="submit" value="Accès">
                    
                        <br>

                        @if(loginform.hasGlobalErrors) {

                            <div class="alert alert-danger" role="alert">
                                <a href="#" class="close" data-dismiss="alert">
                                  &times;
                               </a> 
                                
                                Votre e-mail et/ou votre mot de passe ne sont pas exacts. 

                                <!-- @loginform.globalError.message -->
                            </div>

                        }
                    }  

                    <p><a href="/refreshpassword"> Mot de passe oublié ?</a></p>
                    <p><a href="/enregistrement"> Pas encore de compte HUBO ?</a></p>
                </div>
          
}
}



