@(nav: String = "")
    <!-- NAVBAR -->
  
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation 2</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><p>HUBO congés</p></a>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
         <li class="@("active".when(nav == "index"))"><a href="/">Accueil</a></li>
        <li class="@("active".when(nav == "calculateur"))"><a href="/calculateur">Le calculateur</a></li>
        <li class="@("active".when(nav == "exemples"))"><a href="/exemples">HUBO par l'exemple</a></li>
         <li class="@("active".when(nav == "monHUBO"))"><a href="/profilutilisateur/@session.get("id")"><strong>Mon HUBO</strong></a></li>
      </ul> 

  <!-- connected -->
      <div class="nav navbar-right">           
        <a href="/enregistrement"><button class="btn btn-success navbar-btn">M'inscrire</button></a>


            @if(session.contains("email")){
              <a href="/logout"><button class="btn btn-danger navbar-btn">Me déconnecter</button></a>
            }else{
              <a href="/login"><button class="btn btn-primary navbar-btn">Me connecter</button></a>
            }


        
      </div>
    </div>
  </div> 
</nav>


  
