@(form : String)

 <!-- Attention, le script bootstrap.js est temporaire, il comprend l'ensemble des scripts bootstrap ; vérifier si c'est nécessaire -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
     <script src="@routes.Assets.at("javascripts/parsley/i18n/fr.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("javascripts/parsley/parsley.min.js")" type="text/javascript"></script>


<script type="text/javascript">
  window.ParsleyValidator.setLocale('fr');
</script>

<script type="text/javascript">
    $(document).ready(function () {
$("#@form").parsley({
    successClass: "has-success has-feedback",
    errorClass: "has-error",
        classHandler: function(el) {
    return el.$element.closest(".form-group");
    },
    errorsWrapper: "<span class='help-block'></span>",
    errorTemplate: "<span></span>"
});
});
</script>
